/* Include your style in here for all pages. 
Extra style for cssdemo.html can be added in cssdemo.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: white;
    color: black;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

.header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover, 
.navbar a.active {
    color: #3A53E3;
}

.menuToggle {
    position: relative;
    display: none;
}

.horizontal-line {

    top: 10%;
    left: 10%;
    width: 100%;
    height: 1px;
    background-color: black;
    animation: slideLeft 5s ease forwards;
}

.cover-text{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    animation: slideRight 1s ease forwards;
}

.cover-text h1{
    font-size: 4vw;
    margin-top: 20px;
    line-height: 4vw;
}

.highlight-text {
    font-size: 4vw;
    color: #3A53E3;
}

.cover-text p {
    font-size: 2vw;
    line-height: 2.5vw;
}

.hire-me {
    top: 52%;
    left: 10%;
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;

    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    color: white;
    background-color: #3A53E3;
    animation: slideRight 1s ease forwards;
  }

  .projects {
    top: 52%;
    left: 18%;
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;

    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    color: black;
    animation: slideRight 1s ease forwards;
  }

.projects:hover, 
.projects.active {
    color: #3A53E3;
}
/* Image process */
.sidebox {

    top: 10%;
    left: 65%;
    width: 600px;
    content: url(images/pamu.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.bottombox {
  
    top: 70%;
    right: 35%;
    width: 100%;
    height: 100%;
    background-color: #3A53E3;
}

.footer {
   
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

.validator {
    text-decoration: none;
    color: #3A53E3;
}

/* qualifications */

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  thead th {
    text-align: left;
    font-weight: bold;
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  tbody td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }


/* qualifications */


/* Demos Page */


/* contactme */

 .container{
    position: fixed;
    top: 20%;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 .container .content{
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .container .content .left-side{
   width: 25%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 15px;
   position: relative;
 }
 .content .left-side::before{
   content: '';
   position: absolute;
   height: 70%;
   width: 2px;
   right: -15px;
   top: 50%;
   transform: translateY(-50%);
   background: #afafb6;
 }
 .content .left-side .details{
   margin: 14px;
   text-align: center;
 }
 .content .left-side .details i{
   font-size: 30px;
   color: #3A53E3;
   margin-bottom: 10px;
 }
 .content .left-side .details .topic{
   font-size: 18px;
   font-weight: 500;
 }
 .content .left-side .details .text-one,
 .content .left-side .details .text-two{
   font-size: 14px;
   color: #afafb6;
 }
 .container .content .right-side{
   width: 75%;
   margin-left: 75px;
 }
 .content .right-side .topic-text{
   font-size: 23px;
   font-weight: 600;
   color: #3A53E3;
 }
 .right-side .input-box{
   height: 50px;
   width: 100%;
   margin: 12px 0;
 }
 .right-side .input-box input,
 .right-side .input-box textarea{
   height: 100%;
   width: 100%;
   border: none;
   outline: none;
   font-size: 16px;
   background: #F0F1F8;
   border-radius: 6px;
   padding: 0 15px;
   resize: none;
 }
 .right-side .message-box{
   min-height: 110px;
 }
 .right-side .input-box textarea{
   padding-top: 6px;
 }
 .right-side .button{
   display: inline-block;
   margin-top: 12px;
 }
 .right-side .button input[type="button"]{
   color: #fff;
   font-size: 18px;
   outline: none;
   border: none;
   padding: 8px 16px;
   border-radius: 6px;
   background: #3A53E3;
   cursor: pointer;
   transition: all 0.3s ease;
 }
 .button input[type="button"]:hover{
   background: #3A53E3;
 }
 
 @media (max-width: 950px) {
   .container{
     width: 100%;
     padding: 30px 40px 40px 35px ;
   }
   .container .content .right-side{
    width: 75%;
    margin-left: 55px;
 }
 }
 @media (max-width: 820px) {
   .container{
     margin: 40px 0;
     height: 100%;
   }
   .container .content{
     flex-direction: column-reverse;
   }
  .container .content .left-side{
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before{
    display: none;
  }
  .container .content .right-side{
    width: 100%;
    margin-left: 0;
  }
 }
 



.custom-cursor {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }

.custom-cursor a{
    text-decoration: none;
}
  
.card {
    width: 500px;
    height: 200px;display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3A53E3;
    margin-right: 10px;color: #fff;
    font-size: 1.4em;
    text-align: center;
}

.card:hover {
    background-color: #000000;
}

.demo-box {
    position: fixed;
    top: 70%;
    width: 100%;
    height: 100%;
    background-color: #29282B;
}



/* KEYFRAMES ANIMATION */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
   .sidebox {
    position: fixed;
    top: 10%;
    left: 65%;
    width: 600px;
    content: url(images/pamu.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.bottombox {
    position: fixed;
    top: 70%;
    right: 35%;
    width: 100%;
    height: 100%;
    background-color: #3A53E3;
}

.footer {

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

.validator {
    text-decoration: none;
    color: #3A53E3;
